/* Estilos generales para el body */
body {
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
}

/* Estilos generales para el header de la web */
nav {
  width: 100%;
}

.header-index {
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 120px;
}

.logo {
  text-decoration: none;
  position: absolute;
  color: white;
  font-size: 38px;
  line-height: 110px;
  padding: 0px 100px 0px 100px;
}

.logo label:hover {
  cursor: pointer;
  opacity: 0.6;
}

nav ul {
  float: right;
  margin: 0px;
  padding: 0px;
  margin-right: 90px;
}

nav ul li {
  display: inline-block;
  margin: 50px 5px 0px 5px;
  box-sizing: border-box;
  position: relative;
}

nav ul li a.menu-options {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 3px 8px 7px 8px;
  margin: 0px 5px 0px 5px;
}

nav ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.5s;
}

nav ul li:hover::after {
  width: 80%;
}

/* Estilos para el contenido de la página */
.gradient {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.login {
  width: 35%;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  text-align: center;
  overflow: auto;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3);
}

.login p {
  font-size: 18px;
  font-weight: 600;
}

.container-img {
  width: 80px;
  height: 80px;
  border: 1px solid gray;
  border-radius: 50%;
  margin: 15px auto;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.informacion div {
  margin: 20px;
}

.boton {
  border: 1px solid;
  border-radius: 5px;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  color: white;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.boton:hover {
  transition: 0.5s;
  opacity: 0.8;
}

.logo-boton {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 2px;
}

.inicio-sesion {
  margin: auto;
}
