body {
  font-family: "Montserrat";
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  display: flex;
  justify-content: center;
  align-items: center;
}



.izquierda img{
  margin-top: -20px;
  width: 130px;
}

.container{
  border: 1px solid white;
  background-color: rgb(255,255,255,0.4);
  border-radius: 20px;

  display: flex;

  flex-direction: column;
  padding: 2%;
  gap: 30px;

}

.izquierda{
  display: flex;
  justify-content: center;
  align-items: center;
}

.arriba{
  display:flex;
  column-gap: 150px;
  align-items: center;
  justify-content: center;

}

.ciudad{
  font-size: 3em;
  font-weight: bold;
  margin-bottom:-20px;
  margin-top: -5px;
}

.abajo{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.dia-container{
  border: 1px solid white;
  background-color: rgb(255,255,255,0.4);
  border-radius: 4%;
  padding: 2px 10px;
}

.dia-container p{
  font-size: small;
}

.dia{
  text-align: left;
}

.imagen-pequena{
  width: 50px;
  height: 50px;
}

.derecha p{
  font-size: 1.2em;
}

.info-pequena{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-pequena div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}



