<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error 404</title>

    <!-- Link de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- Link de CSS -->
    <link rel="stylesheet" href="/assets/css/error.css">

    <!-- Exportamos una fuente de Google -->
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body style="font-family: 'Montserrat';">

    <div class="gradient">
      <!-- Header de la página -->
      <div class="header-index">
        <nav>
          <a href="/" style="color: white;">
            <label class="logo">TheWeatherClot</label>
          </a>
            <ul>
              <li><a class="menu-options" href="/home">HOME</a></li>
          </ul>
        </nav>
      </div>

      <!-- Contenido de la página -->
      <div class="container">
        <div class="text-center contenedor">
          <h1 class="display-1 fw-bold">404</h1>
          <p class="fs-3 error"> <span class="text-danger">Opps!</span> Página no encontrada.</p>
          <p class="lead">
            La página a la que estás intentando acceder no existe.
          </p>
          <a class="error-boton" href="/">Volver a inicio</a>
        </div>
      </div>
    </div>

  </body>
</html>
