<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <!-- Exportamos una fuente de Google -->
    <link
            href="https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap"
            rel="stylesheet"
    />
    <!--Stylesheet-->
    <link rel="stylesheet" href="/assets/css/home.css">
    <script>
        window.onload = function (){
            let ciudad1 = document.getElementById("ciudad1").getAttribute("ciudad");
            let ciudad2 = document.getElementById("ciudad2").getAttribute("ciudad");
            let ciudad3 = document.getElementById("ciudad3").getAttribute("ciudad");
            document.getElementById("ciudad1").value = ciudad1;
            document.getElementById("ciudad2").value = ciudad2;
            document.getElementById("ciudad3").value = ciudad3;
            document.getElementById('img-ciudad1').src = `/assets/images/${ciudad1}.png`;
            document.getElementById('img-ciudad2').src = `/assets/images/${ciudad2}.png`;
            document.getElementById('img-ciudad3').src = `/assets/images/${ciudad3}.png`;
        }
    </script>
</head>
<body>

<!-- Header de la página -->
<div class="header-index">
    <nav>
        <a href="/" style="color: white;">
            <label class="logo">TheWeatherClot</label>
        </a>
        <ul>
            <li><a class="menu-options" href="/home">HOME</a></li>
        </ul>
    </nav>
</div>

<!-- Contenido de la página -->
<div class="cards">
    <div class="card card1">
        <div class="container">
            <img id="img-ciudad1" alt="Ciudad 1">
        </div>
        <div class="details">
            <h3 th:text="${ciutats[0]}" th:data-ciudad="${ciutats[0]}"></h3>
            <form action="/veureTemps" method="POST">
                <input th:attr="ciudad=${ciutats[0]}"  id="ciudad1" type="hidden" name="ciudad">
                <button th:text="'Consultar temperatures de '+${ciutats[0]}"></button>
            </form>
        </div>
    </div>
    <div class="card card2">
        <div class="container">
            <img id="img-ciudad2" alt="Ciudad 2">
        </div>
        <div class="details">
            <h3 th:data-ciudad="${ciutats[1]}" th:text="${ciutats[1]}"></h3>
            <form action="/veureTemps" method="POST">
                <input th:attr="ciudad=${ciutats[1]}" id="ciudad2" type="hidden" name="ciudad">
                <button th:text="'Consultar temperatures de '+${ciutats[1]}"></button>
            </form>
        </div>
    </div>
    <div class="card card3">
        <div class="container">
            <img id="img-ciudad3" alt="Ciudad 3">
        </div>
        <div class="details">
            <h3 th:text="${ciutats[2]}" th:data-ciudad="${ciutats[2]}"></h3>
            <form action="/veureTemps" method="POST">
                <input th:attr="ciudad=${ciutats[2]}"  id="ciudad3" type="hidden" name="ciudad">
                <button th:text="'Consultar temperatures de '+${ciutats[2]}"></button>
            </form>
        </div>
    </div>
</div>
<div class="container-boton">
    <a href="/actualizarCiudades" class="boton-home">Actualizar ciudades</a>
    <a href="/borrarUsuario" class="boton-home">Borrar registro</a>
</div>
</body>
</html>