<!DOCTYPE html>
<html>
<head>
    <title>Responsive Grid Cards</title>
    <!-- Exportamos una fuente de Google -->
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <!--Stylesheet-->
    <link rel="stylesheet" href="/assets/css/home.css">
</head>
<body>

    <!-- Header de la página -->
    <div class="header-index">
        <nav>
          <a href="/" style="color: white;">
            <label class="logo">TheWeatherClot</label>
          </a>
            <ul>
              <li><a class="menu-options" href="/home">HOME</a></li>
          </ul>
        </nav>
    </div>

    <!-- Contenido de la página -->
    <div class="cards">
        <div class="card card1">
            <div class="container">
                <img src="las vegas.jpg" alt="las vegas">
            </div>
            <div class="details">
                <h3>Barcelona</h3>
                <form action="" method="">
                    <button>Consultar temperatura a Barcelona</button>
                </form>
            </div>
        </div>
        <div class="card card2">
            <div class="container">
                <img src="newyork.jpg" alt="New York">
            </div>
            <div class="details">
                <h3>New York</h3>
                <form action="" method="">
                    <button>Consultar temperatura a Barcelona</button>
                </form>
            </div>
        </div>
        <div class="card card3">
            <div class="container">
                <img src="singapore.jpg" alt="Singapore">
            </div>
            <div class="details">
                <h3>Singapore</h3>
                <form action="" method="">
                    <button>Consultar temperatura a Barcelona</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>