<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Selección de ciudades</title>

    <!-- Link de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- Link de CSS -->
    <link rel="stylesheet" href="/assets/css/seleccio.css">

    <!-- Exportamos una fuente de Google -->
    <link
            href="https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap"
            rel="stylesheet"
    />
</head>
<body style="font-family: 'Montserrat';">

<div class="gradient">
    <!-- Header de la página -->
    <div class="header-index">
        <nav>
            <a href="/" class="logo">
                <label>TheWeatherClot</label>
            </a>
            <ul>
                <li><a class="menu-options" href="/home">HOME</a></li>
            </ul>
        </nav>
    </div>

    <!-- Contenido de la página -->
    <div class="container">
        <h1 style="color: white; text-align: center; margin-top: 30px;">Selecciona las ciudades que quieres seguir</h1>
        <p style="color: white; text-align: center; margin-bottom: 50px;">Una vez has iniciado sesión con una cuenta de usuario de Google, selecciona las 3 ciudades que quieres añadir a tus favoritas para consultar sus temperaturas y previsiones.</p>
        <form action="/afegirCiutats" method="POST" class="form-estils formulari-seleccio">
            <div class="form-group">
                <div class="form-group">
                    <label for="ciutat1">Selecciona la primera ciudad que quieres guardar:</label>
                    <select name="ciutat1" class="form-control">
                        <option value="Barcelona">Barcelona</option>
                        <option value="Madrid">Madrid</option>
                        <option value="Budapest">Budapest</option>
                        <option value="Paris">Paris</option>
                        <option value="Viena">Viena</option>
                        <option value="Londres">Londres</option>
                        <option value="Berlin">Berlin</option>
                        <option value="Amsterdam">Amsterdam</option>
                        <option value="Rome">Roma</option>
                        <option value="Monaco">Monaco</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ciutat2">Selecciona la segunda ciudad que quieres guardar:</label>
                    <select name="ciutat2" class="form-control">
                        <option value="Madrid">Madrid</option>
                        <option value="Barcelona">Barcelona</option>
                        <option value="Budapest">Budapest</option>
                        <option value="Paris">Paris</option>
                        <option value="Viena">Viena</option>
                        <option value="Londres">Londres</option>
                        <option value="Berlin">Berlin</option>
                        <option value="Amsterdam">Amsterdam</option>
                        <option value="Rome">Roma</option>
                        <option value="Monaco">Monaco</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ciutat3">Selecciona la tercera ciudad que quieres guardar:</label>
                    <select name="ciutat3" class="form-control">
                        <option value="Budapest">Budapest</option>
                        <option value="Madrid">Madrid</option>
                        <option value="Barcelona">Barcelona</option>
                        <option value="Paris">Paris</option>
                        <option value="Viena">Viena</option>
                        <option value="Londres">Londres</option>
                        <option value="Berlin">Berlin</option>
                        <option value="Amsterdam">Amsterdam</option>
                        <option value="Rome">Roma</option>
                        <option value="Monaco">Monaco</option>
                    </select>
                </div>
                <button type="submit" class="boto-seleccio">Envia</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
