<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>prova</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/prova.css" />
  </head>
  <body>
    <div class="gradient">
      <div class="container">
        <div class="header-chart">
          <p id="ciudad" th:text="${ciudad}"></p>
        </div>
        <div class="info-chart">
          <img id="icono" src="" alt="icono" />
          <div class="contenido">
            <p id="dia-hora"></p>
            <p ><span id="temperatura"></span>ºC</p>
            <p>Precipitación máxima: <span id="precipitacion"></span>%</p>
          </div>
        </div>
        <div class="week">
          <p>1</p>
          <p>2</p>
          <p>3</p>
          <p>4</p>
          <p>5</p>
          <p>6</p>
        </div>
      </div>
    </div>
    <script src="/assets/javascript/script.js"></script>
  </body>
</html>
